/*
Copyright 2020 Calvin Walton <calvin.walton@kepstin.ca>

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
*/
/* Palettes */
body.tango, body.ubuntu-focal, body.fedora-32, body.gnome-3-36 {
	--palette0: #2E3436;
	--palette1: #CC0000;
	--palette2: #4E9A06;
	--palette3: #C4A000;
	--palette4: #3465A4;
	--palette5: #75507B;
	--palette6: #06989A;
	--palette7: #D3D7CF;
	--palette8: #555753;
	--palette9: #EF2929;
	--palette10: #8AE234;
	--palette11: #FCE94F;
	--palette12: #729FCF;
	--palette13: #AD7FA8;
	--palette14: #34E2E2;
	--palette15: #EEEEEC;
}

body.gnome {
	--palette0:  #241f31; /* Dark 4 */
	--palette1:  #c01c28; /* Red 5 */
	--palette2:  #26a269; /* Green 5 */
	--palette3:  #b5835a; /* Brown 2 */
	--palette4:  #1e5098; /* Linear blend 33% Dark 4 over Blue 5 */
	--palette5:  #a347ba; /* Purple 3 */
	--palette6:  #30b7cb; /* Linear addition Blue 5 + Green 5 */
	--palette7:  #deddda; /* Light 3 */
	--palette8:  #5e5c64; /* Dark 2 */
	--palette9:  #ed333b; /* Red 2 */
	--palette10: #33d17a; /* Green 3 */
	--palette11: #f8e45c; /* Yellow 2 */
	--palette12: #1c71d8; /* Blue 4 */
	--palette13: #c061cb; /* Purple 2 */
	--palette14: #38daf3; /* Linear addition Blue 4 + Green 4 */
	--palette15: #ffffff; /* Light 1 */
}

body.gnome-v2, body.gnome-3-38 {
	--palette0:  #171421; /* Blend of Dark 4 and Black */
	--palette1:  #c01c28; /* Red 5 */
	--palette2:  #26a269; /* Green 5 */
	--palette3:  #a2734c; /* Blend of Brown 2 and Brown 3 */
	--palette4:  #12488b; /* Blend of Blue 5 and Dark 4 */
	--palette5:  #a347ba; /* Purple 3 */
	--palette6:  #2aa1b3; /* Linear addition Blue 5 + Green 5, darkened slightly */
	--palette7:  #d0cfcc; /* Blend of Light 3 and Light 4 */
	--palette8:  #5e5c64; /* Dark 2 */
	--palette9:  #f66151; /* Red 1 */
	--palette10: #33d17a; /* Green 3 */
	--palette11: #e9ad0c; /* Blend of Yellow 4 and Yellow 5 */
	--palette12: #2a7bde; /* Blend of Blue 3 and Blue 4 */
	--palette13: #c061cb; /* Purple 2 */
	--palette14: #33c7de; /* Linear addition of Blue 4 + Green 4, darkened slightly */
	--palette15: #ffffff; /* Light 1 */
}

body.solarized {
	--palette0:  rgb(7,54,66);
	--palette1:  rgb(220,50,47);
	--palette2:  rgb(133,153,0);
	--palette3:  rgb(181,137,0);
	--palette4:  rgb(38,139,210);
	--palette5:  rgb(211,54,130);
	--palette6:  rgb(42,161,152);
	--palette7:  rgb(238,232,213);
	--palette8:  rgb(0,43,54);
	--palette9:  rgb(203,75,22);
	--palette10: rgb(88,110,117);
	--palette11: rgb(101,123,131);
	--palette12: rgb(131,148,150);
	--palette13: rgb(108,113,196);
	--palette14: rgb(147,161,161);
	--palette15: rgb(253,246,227);
	/* Solarized is not a conventional palette, enabling bold is bright makes no sense */
	--palette0-bold: var(--palette0) !important;
	--palette1-bold: var(--palette1) !important;
	--palette2-bold: var(--palette2) !important;
	--palette3-bold: var(--palette3) !important;
	--palette4-bold: var(--palette4) !important;
	--palette5-bold: var(--palette5) !important;
	--palette6-bold: var(--palette6) !important;
	--palette7-bold: var(--palette7) !important;
}
body.solarized.light {
	--palette-foreground: var(--palette11);
	--palette-foreground-bold: var(--palette11);
	--palette-background: var(--palette15);
}
body.solarized.dark {
	--palette-foreground: var(--palette12);
	--palette-foreground-bold: var(--palette12);
	--palette-background: var(--palette8);
}

body.allan-day-dark {
	--palette0: #5E5C64;
	--palette1: #ED333B;
	--palette2: #2EC27E;
	--palette3: #F6D32D;
	--palette4: #3584E4;
	--palette5: #C061CB;
	--palette6: #30BFCB;
	--palette7: #DEDDDA;
	--palette8: #77767B;
	--palette9: #F66151;
	--palette10: #33D17A;
	--palette11: #F8E45C;
	--palette12: #62A0EA;
	--palette13: #DC8ADD;
	--palette14: #38DAF3;
	--palette15: #FFFFFF;
}
body.allan-day-dark.dark {
	--palette-foreground: var(--palette15);
	--palette-foreground-bold: var(--palette15);
	--palette-background: #1E1E1E;
}

body.allan-day-light {
	--palette0: #241F31;
	--palette1: #C01C28;
	--palette2: #218d5b;
	--palette3: #D09609;
	--palette4: #1A5fb4;
	--palette5: #9141AC;
	--palette6: #29878B;
	--palette7: #9A9996;
	--palette8: #77767B;
	--palette9: #E01B24;
	--palette10: #26A269;
	--palette11: #E5A50A;
	--palette12: #1C71D8;
	--palette13: #C061CB;
	--palette14: #0A95AE;
	--palette15: #FFFFFF;
}
body.allan-day-light.light {
	--palette-foreground: #000000;
	--palette-foreground-bold: #000000;
	--palette-background: var(--palette15);
}

body.one-half.dark {
	--palette0: #282c34;
	--palette1: #e06c75;
	--palette2: #98c379;
	--palette3: #e5c07b;
	--palette4: #61afef;
	--palette5: #c678dd;
	--palette6: #56b6c2;
	--palette7: #dcdfe4;
	--palette8: #282c34;
	--palette9: #e06c75;
	--palette10: #98c379;
	--palette11: #e5c07b;
	--palette12: #61afef;
	--palette13: #c678dd;
	--palette14: #56b6c2;
	--palette15: #dcdfe4
}

body.gnome-3-36 {
	--palette-foreground: #2e3436 !important;
	--palette-background: #ffffff !important;
}

body.fedora-32 {
	--palette-foreground: #ffffff !important;
	--palette-background: #1e1e1e !important;
}

body.ubuntu-focal {
	--palette-foreground: #ffffff !important;
	--palette-background: #300a24 !important;
}

body.one-half.light {
	--palette0: #383a42;
	--palette1: #e45649;
	--palette2: #50a14f;
	--palette3: #c18401;
	--palette4: #0184bc;
	--palette5: #a626a4;
	--palette6: #0997b3;
	--palette7: #fafafa;
	--palette8: #4f525e;
	--palette9: #e06c75;
	--palette10: #98c379;
	--palette11: #e5c07b;
	--palette12: #61afef;
	--palette13: #c678dd;
	--palette14: #56b6c2;
	--palette15: #ffffff;
}

body.vga {
	--palette0: #000;
	--palette1: #A00;
	--palette2: #0A0;
	--palette3: #A50;
	--palette4: #00A;
	--palette5: #A0A;
	--palette6: #0AA;
	--palette7: #AAA;
	--palette8: #555;
	--palette9: #F55;
	--palette10: #5F5;
	--palette11: #FF5;
	--palette12: #55F;
	--palette13: #F5F;
	--palette14: #5FF;
	--palette15: #FFF;
	/* VGA doesn't support real bold, bold is always bright */
	--bold-weight: normal !important;
	--palette0-bold: var(--palette8) !important;
	--palette1-bold: var(--palette9) !important;
	--palette2-bold: var(--palette10) !important;
	--palette3-bold: var(--palette11) !important;
	--palette4-bold: var(--palette12) !important;
	--palette5-bold: var(--palette13) !important;
	--palette6-bold: var(--palette14) !important;
	--palette7-bold: var(--palette15) !important;
	/* And it is always dark */
	--palette-foreground: var(--palette7) !important;
	--palette-foreground-bold: var(--palette15) !important;
	--palette-background: var(--palette0) !important;
}

body.xterm {
	--palette0:  #000000;
	--palette1:  #cd0000;
	--palette2:  #00cd00;
	--palette3:  #cdcd00;
	--palette4:  #0000cd;
	--palette5:  #cd00cd;
	--palette6:  #00cdcd;
	--palette7:  #e5e5e5;
	--palette8:  #7f7f7f;
	--palette9:  #ff0000;
	--palette10: #00ff00;
	--palette11: #ffff00;
	--palette12: #5c5cff;
	--palette13: #ff00ff;
	--palette14: #00ffff;
	--palette15: #ffffff;
	/* Always light */
	--palette-foreground: var(--palette0) !important;
	--palette-foreground-bold: var(--palette0) !important;
	--palette-background: var(--palette15) !important;
	/* Can't disable bold-is-bright */
	--palette0-bold: var(--palette8) !important;
	--palette1-bold: var(--palette9) !important;
	--palette2-bold: var(--palette10) !important;
	--palette3-bold: var(--palette11) !important;
	--palette4-bold: var(--palette12) !important;
	--palette5-bold: var(--palette13) !important;
	--palette6-bold: var(--palette14) !important;
	--palette7-bold: var(--palette15) !important;
}

body.rxvt {
	/* Taken from urxvt with XTERM_COLORS disabled */
	--palette0:  #000000; /* Black */
	--palette1:  #cd0000; /* Red3 */
	--palette2:  #00cd00; /* Green3 */
	--palette3:  #cdcd00; /* Yellow3 */
	--palette4:  #0000cd; /* Blue3 */
	--palette5:  #cd00cd; /* Magenta3 */
	--palette6:  #00cdcd; /* Cyan3 */
	--palette7:  #faebd7; /* AntiqueWhite */
	--palette8:  #404040; /* Grey25 */
	--palette9:  #ff0000; /* Reed [sic] */
	--palette10: #00ff00; /* Green */
	--palette11: #ffff00; /* Yellow */
	--palette12: #0000ff; /* Blue */
	--palette13: #ff00ff; /* Magenta */
	--palette14: #00ffff; /* Cyan */
	--palette15: #ffffff; /* White */
	/* Always light */
	--palette-foreground: var(--palette0) !important;
	--palette-foreground-bold: var(--palette0) !important;
	--palette-background: var(--palette15) !important;
	/* Can't disable bold-is-bright */
	--palette0-bold: var(--palette8) !important;
	--palette1-bold: var(--palette9) !important;
	--palette2-bold: var(--palette10) !important;
	--palette3-bold: var(--palette11) !important;
	--palette4-bold: var(--palette12) !important;
	--palette5-bold: var(--palette13) !important;
	--palette6-bold: var(--palette14) !important;
	--palette7-bold: var(--palette15) !important;
}

body.breeze {
	--palette0: #232627;
	--palette1: #ED1515;
	--palette2: #11D116;
	--palette3: #F67400;
	--palette4: #1D99F3;
	--palette5: #9B59B6;
	--palette6: #1ABC9C;
	--palette7: #FCFCFC;
	--palette8: #7F8C8D;
	--palette9: #C0392B;
	--palette10: #1CDC9A;
	--palette11: #FDBC4B;
	--palette12: #3DAEE9;
	--palette13: #8E44AD;
	--palette14: #16A085;
	--palette15: #FFFFFF;
	/* Scheme sets fg/bg colors */
	--palette-foreground: var(--palette7) !important;
	--palette-foreground-bold: var(--palette15) !important;
	--palette-background: var(--palette0) !important;
	/* Can't disable bold-is-bright (but you can make bright-not-bold!) */
	--palette0-bold: var(--palette8) !important;
	--palette1-bold: var(--palette9) !important;
	--palette2-bold: var(--palette10) !important;
	--palette3-bold: var(--palette11) !important;
	--palette4-bold: var(--palette12) !important;
	--palette5-bold: var(--palette13) !important;
	--palette6-bold: var(--palette14) !important;
	--palette7-bold: var(--palette15) !important;
}

body.campbell {
	/* The Windows Console palette (from the Windows 10 Terminal app) */
	--palette0: #0C0C0C;
	--palette1: #C50F1F;
	--palette2: #13A10E;
	--palette3: #C19C00;
	--palette4: #0037DA;
	--palette5: #881798;
	--palette6: #3A96DD;
	--palette7: #CCCCCC;
	--palette8: #767676;
	--palette9: #E74856;
	--palette10: #16C60C;
	--palette11: #F9F1A5;
	--palette12: #3B78FF;
	--palette13: #B4009E;
	--palette14: #61D6D6;
	--palette15: #F2F2F2;
	/* Windows Terminal doesn't support real bold, bold is always bright */
	--bold-weight: normal !important;
	--palette0-bold: var(--palette8) !important;
	--palette1-bold: var(--palette9) !important;
	--palette2-bold: var(--palette10) !important;
	--palette3-bold: var(--palette11) !important;
	--palette4-bold: var(--palette12) !important;
	--palette5-bold: var(--palette13) !important;
	--palette6-bold: var(--palette14) !important;
	--palette7-bold: var(--palette15) !important;
	/* And it is always dark */
	--palette-foreground: var(--palette7) !important;
	--palette-foreground-bold: var(--palette15) !important;
	--palette-background: var(--palette0) !important;
}

/* Ametameric: A 16 color palette for dichromats and trichromats
 * https://pippin.gimp.org/ametameric/
 */
body.ametameric-20200423 {
	--palette0: #000000;
	--palette1: #7f0521;
	--palette2: #48a04b;
	--palette3: #a36000;
	--palette4: #0a0aaa;
	--palette5: #9131be;
	--palette6: #3282ae;
	--palette7: #a7a7a7;
	--palette8: #585858;
	--palette9: #ff9b82;
	--palette10: #5af5a0;
	--palette11: #ffe600;
	--palette12: #0000ff;
	--palette13: #de90f2;
	--palette14: #8ed0fd;
	--palette15: #ffffff;
}
body.ametameric-20200920 {
	--palette0: #000000;
	--palette1: #a02929;
	--palette2: #4aa08b;
	--palette3: #878453;
	--palette4: #2424ed;
	--palette5: #ab4adf;
	--palette6: #3b6bb1;
	--palette7: #c3c3c3;
	--palette8: #6f6f6f;
	--palette9: #edac82;
	--palette10: #99edba;
	--palette11: #e9d808;
	--palette12: #82b4ed;
	--palette13: #d66fed;
	--palette14: #1de1ed;
	--palette15: #ffffff;
}

body.kgx {
	--palette0: #241f31;
	--palette1: #c01c28;
	--palette2: #2ec27e;
	--palette3: #f5c211;
	--palette4: #1e78e4;
	--palette5: #9841bb;
	--palette6: #0ab9dc;
	--palette7: #c0bfbc;
	--palette8: #5e5c64;
	--palette9: #ed333b;
	--palette10: #57e389;
	--palette11: #f8e45c;
	--palette12: #51a1ff;
	--palette13: #c061cb;
	--palette14: #4fd2fd;
	--palette15: #f6f5f4;
}
body.kgx.light {
	--palette-foreground: rgba(0, 0, 0, 1.0);
	--palette-foreground-bold: var(--palette-foreground);
	--palette-background: rgba(255, 255, 255, 1.0);
}
body.kgx.dark {
	--palette-foreground: rgba(255, 255, 255, 1.0);
	--palette-foreground-bold: var(--palette-foreground);
	--palette-background: rgba(13, 13, 13, 0.96);
}

body.kgx-proposed {
	--palette0:  #1e1e1e; /* Adwaita dark text view bg color */
	--palette1:  #c01c28; /* Red 4 */
	--palette2:  #26a269; /* Green 5 */
	--palette3:  #a2734c; /* Between Brown 2 and Brown 3 */
	--palette4:  #12488b; /* Between Blue 5 and Dark 4 */
	--palette5:  #a347ba; /* Purple 3 */
	--palette6:  #2aa1b3; /* Linear addition Blue 5 + Green 5, darkened slightly */
	--palette7:  #cfcfcf; /* Between Light 3 and Light 4, desaturated */
	--palette8:  #5d5d5d; /* Dark 2, desaturated */
	--palette9:  #f66151; /* Red 1 */
	--palette10: #33d17a; /* Green 3 */
	--palette11: #e9ad0c; /* Between Yellow 4 and Yellow 5 */
	--palette12: #2a7bde; /* Between Blue 3 and Blue 4 */
	--palette13: #c061cb; /* Purple 2 */
	--palette14: #33c7de; /* Linear addition of Blue 4 + Green 4, darkened slightly */
	--palette15: #ffffff; /* Adwaita light text view bg color */
}

body.kgx-proposed.light {
	--palette-foreground: #000000; /* Adwaita light text view fg color */
	--palette-foreground-bold: #000000;
	--palette-background: var(--palette15);
}
body.kgx-proposed.dark {
	--palette-foreground: var(--palette7);
	--palette-foreground-bold: var(--palette15);
	--palette-background: var(--palette0); /* TODO: transparency affects this */
}

/* Default foreground/background colors for most palettes */
body.light {
	--palette-foreground: var(--palette0);
	--palette-foreground-bold: var(--palette0);
	--palette-background: var(--palette15);
}
body.dark {
	--palette-foreground: var(--palette7);
	--palette-foreground-bold: var(--palette7);
	--palette-background: var(--palette0);
}
body.system-colors.light, body.system-colors.dark {
	--palette-foreground: var(--fg-color);
	--palette-foreground-bold: var(--fg-color);
	--palette-background: var(--term-base-color);
}
/* Setup for handling bold-is-bright */
body {
	--palette0-bold: var(--palette0);
	--palette1-bold: var(--palette1);
	--palette2-bold: var(--palette2);
	--palette3-bold: var(--palette3);
	--palette4-bold: var(--palette4);
	--palette5-bold: var(--palette5);
	--palette6-bold: var(--palette6);
	--palette7-bold: var(--palette7);
	--normal-weight: normal;
	--bold-weight: bold;
	--underline-decoration: underline;
}
body.bold-bright {
	--palette0-bold: var(--palette8);
	--palette1-bold: var(--palette9);
	--palette2-bold: var(--palette10);
	--palette3-bold: var(--palette11);
	--palette4-bold: var(--palette12);
	--palette5-bold: var(--palette13);
	--palette6-bold: var(--palette14);
	--palette7-bold: var(--palette15);
}
body.dark.bold-bright {
	--palette-foreground-bold: var(--palette15);
}

/* Some general page styles */
body {
	max-width: 100ch;
	margin: 0 auto;
	padding: 0 12px 62px;
	font-family: Cantarell, "DejaVu Sans", sans-serif;
	font-size: 11pt;
	--fg-color: #2e3436;
	--text-color: black;
	--bg-color: #f6f5f4;
	--base-color: #ffffff;
	--term-base-color: #ffffff;
	--alt-borders-color: #dad6d2;
	--top-hilight: #ffffffcc;
	background: var(--base-color);
	color: var(--text-color);
	--link-color: #1b6acb;
	--link-visited-color: #15539e;
	--link-hover-color: #3584e4;
	--link-active-color: #1b6acb;
}
body.dark {
	--fg-color: #eeeeec;
	--text-color: white;
	--bg-color: #1b1b1b;
	--base-color: #2d2d2d;
	--term-base-color: #1e1e1e;
	--alt-borders-color: #070707;
	--top-hilight: rgba(238, 238, 236, 0.07);
	--link-color: #3584e4;
	--link-visited-color: #1b6acb;
	--link-hover-color: #629fea;
	--link-active-color: #3584e4;
}
a:link {
	color: var(--link-color);
}
a:visited {
	color: var(--link-visited-color);
}
a:hover {
	color: var(--link-hover-color);
}
a:active {
	color: var(--link-active-color);
}
#palette-menu, #contrast-checker {
	padding: 0 6px;
	margin: 0 -12px;
	min-height: 46px;
	color: var(--text-color);
	background: var(--bg-color);
	box-shadow: inset 0 1px var(--top-hilight);
	border-style: solid;
	border-color: var(--alt-borders-color);
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	column-gap: 12px;
}
#palette-menu {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	border-width: 0 1px 1px;
}
#contrast-checker {
	position: fixed;
	max-width: 100ch;
	margin: 0 auto;
	bottom: 0;
	left: 0;
	right: 0;
	border-width: 1px 1px 0;
	font-feature-settings: "tnum";
}
#apca-result {
	flex-grow: 2;
	flex-shrink: 1;
	flex-basis: 6em;
}
#wcag-result {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 6em;
}
#apca-result > sup {
	position: relative;
	top: 0.15em;
	margin: 0 0 -0.15em -0.25em;
	font-size: 0.65em;
}
.app-variant-bar {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	column-gap: 12px;
}
label {
	align-self: stretch;
	display: flex;
	align-items: center;
	column-gap: 2px;
}
h2 { padding-top: 46px; }
ul.toc {
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: 6px;
}
@media (min-width: 40ch) {
	ul.toc { grid-template-columns: repeat(2, 1fr); }
}
@media (min-width: 80ch) {
	ul.toc { grid-template-columns: repeat(3, 1fr); }
}
ul.toc li {
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.toc li a {
	display: block;
}

/* Set up the color code classes for the terminal window */
.terminal {
	color: var(--palette-foreground);
	background: var(--palette-background);
	border: 1px solid var(--alt-borders-color);
	padding: 1px 2ch 1px 1px;
	font-family: "Source Code Pro", "DejaVu Sans Mono", "Consolas", monospace;
	font-size: 10pt;
	font-weight: normal;
	overflow-x: hidden;
	overflow-y: scroll;
	margin: 1em auto;
	box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
	max-height: calc(100vh - 104px);
	width: 80ch;
	cursor: pointer;
}
.terminal span {
	background-color: inherit;
}
.terminal .bold {
	color: var(--palette-foreground-bold);
	font-weight: var(--bold-weight);
}
.terminal .invert {
	color: var(--palette-background);
	background: var(--palette-foreground);
}
.terminal .fg0 { color: var(--palette0); }
.terminal .fg0.bold { color: var(--palette0-bold); }
.terminal .fg1 { color: var(--palette1); }
.terminal .fg1.bold { color: var(--palette1-bold); }
.terminal .fg2 { color: var(--palette2); }
.terminal .fg2.bold { color: var(--palette2-bold); }
.terminal .fg3 { color: var(--palette3); }
.terminal .fg3.bold { color: var(--palette3-bold); }
.terminal .fg4 { color: var(--palette4); }
.terminal .fg4.bold { color: var(--palette4-bold); }
.terminal .fg5 { color: var(--palette5); }
.terminal .fg5.bold { color: var(--palette5-bold); }
.terminal .fg6 { color: var(--palette6); }
.terminal .fg6.bold { color: var(--palette6-bold); }
.terminal .fg7 { color: var(--palette7); }
.terminal .fg7.bold { color: var(--palette7-bold); }
.terminal .fg8, .terminal .fg8.bold { color: var(--palette8); }
.terminal .fg9, .terminal .fg9.bold { color: var(--palette9); }
.terminal .fg10, .terminal .fg10.bold { color: var(--palette10); }
.terminal .fg11, .terminal .fg11.bold { color: var(--palette11); }
.terminal .fg12, .terminal .fg12.bold { color: var(--palette12); }
.terminal .fg13, .terminal .fg13.bold { color: var(--palette13); }
.terminal .fg14, .terminal .fg14.bold { color: var(--palette14); }
.terminal .fg15, .terminal .fg15.bold { color: var(--palette15); }
.terminal .bg0 { background: var(--palette0); }
.terminal .bg1 { background: var(--palette1); }
.terminal .bg2 { background: var(--palette2); }
.terminal .bg3 { background: var(--palette3); }
.terminal .bg4 { background: var(--palette4); }
.terminal .bg5 { background: var(--palette5); }
.terminal .bg6 { background: var(--palette6); }
.terminal .bg7 { background: var(--palette7); }
.terminal .bg8 { background: var(--palette8); }
.terminal .bg9 { background: var(--palette9); }
.terminal .bg10 { background: var(--palette10); }
.terminal .bg11 { background: var(--palette11); }
.terminal .bg12 { background: var(--palette12); }
.terminal .bg13 { background: var(--palette13); }
.terminal .bg14 { background: var(--palette14); }
.terminal .bg15 { background: var(--palette15); }

/* coreutils */
.coreutils .dir { font-weight: var(--bold-weight); color: var(--palette4-bold); }
.coreutils .link { font-weight: var(--bold-weight); color: var(--palette6-bold); }
.coreutils .fifo { background: var(--palette0); color: var(--palette3); }
.coreutils .sock { font-weight: var(--bold-weight); color: var(--palette5-bold); }
.coreutils .blk, .coreutils .chr { font-weight: var(--bold-weight); background: var(--palette0); color: var(--palette3-bold); }
.coreutils .orphan { font-weight: var(--bold-weight); background: var(--palette0); color: var(--palette1-bold); }
.coreutils .missing {}
.coreutils .setuid { background: var(--palette1); color: var(--palette7); }
.coreutils .setgid { background: var(--palette3); color: var(--palette0); }
.coreutils .capability { background: var(--palette1); color: var(--palette0); }
.coreutils .sticky_other_writable { background: var(--palette2); color: var(--palette0); }
.coreutils .other_writable { background: var(--palette2); color: var(--palette4); }
.coreutils .sticky { background: var(--palette4); color: var(--palette7); }
.coreutils .exec { font-weight: var(--bold-weight); color: var(--palette2-bold); }
.coreutils .archive { font-weight: var(--bold-weight); color: var(--palette1-bold); }
.coreutils .image { font-weight: var(--bold-weight); color: var(--palette5-bold); }
.coreutils .audio { color: var(--palette6); }

.coreutils.coreutils-fedora .missing { font-weight: var(--bold-weight); background: var(--palette1); color: var(--palette7-bold); }
.coreutils.coreutils-fedora .audio { font-weight: var(--bold-weight); color: var(--palette6-bold); }

.coreutils.coreutils-kepstin .dir { color: var(--palette12); }
.coreutils.coreutils-kepstin .fifo { background: inherit; }
.coreutils.coreutils-kepstin .sock { color: var(--palette13); }
.coreutils.coreutils-kepstin .blk, .coreutils.coreutils-kepstin .chr { color: var(--palette11); }
.coreutils.coreutils-kepstin .orphan { color: var(--palette9); }
.coreutils.coreutils-kepstin .setuid { color: var(--palette15); }
.coreutils.coreutils-kepstin .capability { background: var(--palette5); color: var(--palette15); }
.coreutils.coreutils-kepstin .sticky_other_writable { background: var(--palette10); }
.coreutils.coreutils-kepstin .other_writable { background: var(--palette10); }
.coreutils.coreutils-kepstin .sticky { color: var(--palette15); }
.coreutils.coreutils-kepstin .archive { color: var(--palette9); }
.coreutils.coreutils-kepstin .image { color: var(--palette13); }

/* htop color schemes */
.htop-default .reset_color, .htop-default .default_color, .htop-default .process,
.htop-default .check_text { color: var(--palette-foreground); background: var(--palette-background); }
.htop-default .function_bar { color: var(--palette0); background: var(--palette6); }
.htop-default .function_key { color: var(--palette-foreground); background: var(--palette-background); }
.htop-default .panel_header_focus,
.htop-default .panel_header_unfocus { color: var(--palette0); background: var(--palette2); }
.htop-default .panel_selection_focus { color: var(--palette0); background: var(--palette6); }
.htop-default .panel_selection_follow { color: var(--palette0); background: var(--palette3); }
.htop-default .panel_selection_unfocus { color: var(--palette0); background: var(--palette7); }
.htop-default .failed_search { color: var(--palette1); background: var(--palette6); }
.htop-default .uptime, .htop-default .battery, .htop-default .meter_value, .htop-default .load_average_five,
.htop-default .process_basename, .htop-default .graph_1,
.htop-default .help_bold { font-weight: var(--bold-weight); color: var(--palette6-bold); background: var(--palette-background); }
.htop-default .large_number,
.htop-default .process_d_state { font-weight: var(--bold-weight); color: var(--palette1-bold); background: var(--palette-background); }
.htop-default .meter_text, .htop-default .load_average_fifteen, .htop-default .process_megabytes, .htop-default .process_tree,
.htop-default .graph_2, .htop-default .check_box, .htop-default .cpu_steal,
.htop-default .cpu_guest { color: var(--palette6); background: var(--palette-background); }
.htop-default .led_color, .htop-default .process_r_state, .htop-default .process_low_priority, .htop-default .process_thread,
.htop-default .memory_used,
.htop-default .cpu_normal { color: var(--palette2); background: var(--palette-background); }
.htop-default .tasks_running,
.htop-default .process_thread_basename { font-weight: var(--bold-weight); color: var(--palette2-bold); background: var(--palette-background); }
.htop-default .process_shadow,
.htop-default .bar_shadow { font-weight: var(--bold-weight); color: var(--palette8); background: var(--palette-background); }
.htop-default .process_tag { font-weight: var(--bold-weight); color: var(--palette3-bold); background: var(--palette-background); }
.htop-default .process_high_priority, .htop-default .swap,
.htop-default .cpu_kernel { color: var(--palette1); background: var(--palette-background); }
.htop-default .bar_border, .htop-default .load_average_one, .htop-default .load, .htop-default .clock,
.htop-default .check_mark,
.htop-default .hostname { font-weight: var(--bold-weight); color: var(--palette-foreground-bold); background: var(--palette-background); }
.htop-default .memory_buffers,
.htop-default .cpu_nice { color: var(--palette4); background: var(--palette-background); }
.htop-default .memory_buffers_text,
.htop-default .cpu_nice_text { color: var(--palette4-bold); background: var(--palette-background); }
.htop-default .memory_cache,
.htop-default .cpu_irq { color: var(--palette3); background: var(--palette-background); }
.htop-default .cpu_iowait { font-weight: var(--bold-weight); color: var(--palette0-bold); background: var(--palette-background); }
.htop-default .cpu_softirq { color: var(--palette5); background: var(--palette-background); }

.htop-midnight .reset_color, .htop-midnight .default_color, .htop-midnight .process, .htop-midnight .load_average_five,
.htop-midnight .clock, .htop-midnight .check_text, .htop-midnight .hostname, .htop-midnight .cpu_steal,
.htop-midnight .cpu_guest { color: var(--palette7); background: var(--palette4); }
.htop-midnight .function_bar, .htop-midnight .panel_header_focus,
.htop-midnight .panel_header_unfocus { color: var(--palette0); background: var(--palette6); }
.htop-midnight .function_key { color: var(--palette-foreground); background: var(--palette-background); }
.htop-midnight .panel_selection_focus { color: var(--palette0); background: var(--palette7); }
.htop-midnight .panel_selection_follow { color: var(--palette0); background: var(--palette3); }
.htop-midnight .panel_selection_unfocus, .htop-midnight .uptime, .htop-midnight .battery, .htop-midnight .process_tag,
.htop-midnight .bar_border,
.htop-midnight .memory_cache { font-weight: var(--bold-weight); color: var(--palette3-bold); background: var(--palette4); }
.htop-midnight .failed_search { color: var(--palette1); background: var(--palette6); }
.htop-midnight .large_number, .htop-midnight .process_d_state,
.htop-midnight .cpu_kernel { font-weight: var(--bold-weight); color: var(--palette1-bold); background: var(--palette4); }
.htop-midnight .meter_text, .htop-midnight .process_megabytes, .htop-midnight .process_tree, .htop-midnight .bar_shadow,
.htop-midnight .graph_2,
.htop-midnight .check_box { color: var(--palette6); background: var(--palette4); }
.htop-midnight .meter_value, .htop-midnight .process_basename, .htop-midnight .graph_1, .htop-midnight .memory_buffers,
.htop-midnight .memory_buffers_text, .htop-midnight .help_bold, .htop-midnight .cpu_nice,
.htop-midnight .cpu_nice_text { font-weight: var(--bold-weight); color: var(--palette6-bold); background: var(--palette4); }
.htop-midnight .led_color, .htop-midnight .process_r_state, .htop-midnight .process_low_priority,
.htop-midnight .process_thread { color: var(--palette2); background: var(--palette4); }
.htop-midnight .tasks_running, .htop-midnight .process_thread_basename, .htop-midnight .memory_used,
.htop-midnight .cpu_normal { font-weight: var(--bold-weight); color: var(--palette2-bold); background: var(--palette4); }
.htop-midnight .process_high_priority,
.htop-midnight .swap { color: var(--palette1); background: var(--palette4); }
.htop-midnight .process_shadow, .htop-midnight .load_average_fifteen,
.htop-midnight .cpu_irq { font-weight: var(--bold-weight); color: var(--palette0-bold); background: var(--palette4); }
.htop-midnight .load_average_one, .htop-midnight .load,
.htop-midnight .check_mark { font-weight: var(--bold-weight); color: var(--palette7-bold); background: var(--palette4); }
.htop-midnight .cpu_iowait { font-weight: var(--bold-weight); color: var(--palette4-bold); background: var(--palette4); }
.htop-midnight .cpu_softirq { color: var(--palette0); background: var(--palette4); }

.htop-light .reset_color, .htop-light .default_color, .htop-light .function_key, .htop-light .process,
.htop-light .load_average_fifteen, .htop-light .load_average_five, .htop-light .load_average_one, .htop-light .check_mark,
.htop-light .check_text, .htop-light .load, .htop-light .clock, .htop-light .hostname,
.htop-light .cpu_steal,
.htop-light .cpu_guest { color: var(--palette0); background: var(--palette-background); }
.htop-light .function_bar,
.htop-light .panel_selection_focus { color: var(--palette0); background: var(--palette6); }
.htop-light .panel_header_focus,
.htop-light .panel_header_unfocus { color: var(--palette0); background: var(--palette2); }
.htop-light .panel_selection_follow { color: var(--palette0); background: var(--palette3); }
.htop-light .panel_selection_unfocus, .htop-light .meter_text, .htop-light .process_megabytes, .htop-light .process_tree,
.htop-light .process_thread, .htop-light .bar_border, .htop-light .help_bold, .htop-light .check_box,
.htop-light .cpu_softirq { color: var(--palette4); background: var(--palette-background); }
.htop-light .failed_search { color: var(--palette1); background: var(--palette6); }
.htop-light .uptime, .htop-light .battery,
.htop-light .memory_cache { color: var(--palette3); background: var(--palette-background); }
.htop-light .large_number, .htop-light .process_high_priority, .htop-light .swap,
.htop-light .cpu_kernel { color: var(--palette1); background: var(--palette-background); }
.htop-light .led_color, .htop-light .tasks_running, .htop-light .process_basename, .htop-light .process_r_state,
.htop-light .process_low_priority, .htop-light .memory_used,
.htop-light .cpu_normal { color: var(--palette2); background: var(--palette-background); }
.htop-light .process_shadow,
.htop-light .bar_shadow { font-weight: var(--bold-weight); color: var(--palette8); background: var(--palette-background); }
.htop-light .process_tag { color: var(--palette7); background: var(--palette4); }
.htop-light .process_d_state { font-weight: var(--bold-weight); color: var(--palette1-bold); background: var(--palette-background); }
.htop-light .process_thread_basename,
.htop-light .cpu_irq { font-weight: var(--bold-weight); color: var(--palette4-bold); background: var(--palette-background); }
.htop-light .graph_1 { font-weight: var(--bold-weight); color: var(--palette6-bold); background: var(--palette-background); }
.htop-light .graph_2, .htop-light .memory_buffers, .htop-light .memory_buffers_text, .htop-light .cpu_nice,
.htop-light .cpu_nice_text { color: var(--palette6); background: var(--palette-background); }
.htop-light .cpu_iowait { font-weight: var(--bold-weight); color: var(--palette0-bold); background: var(--palette-background); }

/* Midnight Commander */

.mc {
	/* The mc themes use named colors throughout, setup aliases to make it easier */
	--black: var(--palette0);
	--gray: var(--palette8);
	--red: var(--palette1);
	--brightred: var(--palette9);
	--green: var(--palette2);
	--brightgreen: var(--palette10);
	--brown: var(--palette3);
	--yellow: var(--palette11);
	--blue: var(--palette4);
	--brightblue: var(--palette12);
	--magenta: var(--palette5);
	--brightmagenta: var(--palette13);
	--cyan: var(--palette6);
	--brightcyan: var(--palette14);
	--lightgray: var(--palette7);
	--white: var(--palette15);
}

.mc-default .core { color: var(--lightgray); background: var(--blue); }
.mc-default .core_selected { color: var(--black); background: var(--cyan); }
.mc-default .core-marked { color: var(--yellow); background: var(--blue); }
.mc-default .core-input { color: var(--black); background: var(--cyan); }
.mc-default .core-inputunchanged { color: var(--gray); background: var(--cyan); }
.mc-default .core_reverse { color: var(--black); background: var(--lightgray); }
.mc-default .core_header { color: var(--yellow); background: var(--blue); }

.mc-default .dialog { color: var(--black); background: var(--lightgray); }
.mc-default .dialog-dfocus { color: var(--black); background: var(--cyan); }
.mc-default .dialog-dhotnormal { color: var(--blue); background: var(--lightgray); }
.mc-default .dialog-dhotfocus { color: var(--blue); background: var(--cyan); }
.mc-default .dialog-dtitle { color: var(--blue); background: var(--lightgray); }

.mc-default .filehighlight_directory { color: var(--white); }
.mc-default .filehighlight_executable { color: var(--brightgreen); }
.mc-default .filehighlight_symlink { color: var(--lightgray); }
.mc-default .filehighlight_stalelink { color: var(--brightred); }
.mc-default .filehighlight_device { color: var(--brightmagenta); }
.mc-default .filehighlight_special { color: var(--black); }
.mc-default .filehighlight_core { color: var(--red); }
.mc-default .filehighlight_temp { color: var(--gray); }
.mc-default .filehighlight_archive { color: var(--brightmagenta); }
.mc-default .filehighlight_doc { color: var(--brown); }
.mc-default .filehighlight_source { color: var(--cyan); }
.mc-default .filehighlight_media { color: var(--green); }
.mc-default .filehighlight_graph { color: var(--brightcyan); }
.mc-default .filehighlight_database { color: var(--brightred); }

.mc-default .menu { color: var(--white); background: var(--cyan); }
.mc-default .menu-menusel { color: var(--white); background: var(--black); }
.mc-default .menu-menuhot { color: var(--yellow); background: var(--cyan); }
.mc-default .menu-menuhotsel { color: var(--yellow); background: var(--black); }
.mc-default .menu_menuinactive { color: var(--black); background: var(--cyan); }

.mc-default .buttonbar-hotkey { color: var(--white); background: var(--black); }
.mc-default .buttonbar-button { color: var(--black); background: var(--cyan); }


/* vim */

.vim.vim-8 {
	--vim-dark-grey: var(--palette0-bold);
	--vim-dark-grey-weight: var(--bold-weight);
	--vim-dark-grey-bg: var(--palette0);
	--vim-blue: var(--palette4-bold);
	--vim-blue-weight: var(--bold-weight);
	--vim-blue-bg: var(--palette4);
	--vim-light-green: var(--palette2-bold);
	--vim-light-green-weight: var(--bold-weight);
	--vim-light-green-bg: var(--palette2);
	--vim-cyan: var(--palette6-bold);
	--vim-cyan-weight: var(--bold-weight);
	--vim-cyan-bg: var(--palette6);
	--vim-red: var(--palette1-bold);
	--vim-red-weight: var(--bold-weight);
	--vim-red-bg: var(--palette1);
	--vim-magenta: var(--palette5-bold);
	--vim-magenta-weight: var(--bold-weight);
	--vim-magenta-bg: var(--palette5);
	--vim-light-magenta: var(--palette5-bold);
	--vim-light-magenta-weight: var(--bold-weight);
	--vim-light-magenta-bg: var(--palette5);
	--vim-yellow: var(--palette3-bold);
	--vim-yellow-weight: var(--bold-weight);
	--vim-yellow-bg: var(--palette3);
	--vim-white: var(--palette7-bold);
	--vim-white-weight: var(--bold-weight);
	--vim-white-bg: var(--palette7);
}
.vim.vim-16 {
	--vim-dark-grey: var(--palette8);
	--vim-light-green: var(--palette10);
	--vim-light-magenta: var(--palette13);
}
.vim.vim-256 {
	--vim-brown: #af5f00; /* 130 */
	--vim-grey: #a8a8a8; /* 248 */
	--vim-dark-grey: #6c6c6c; /* 242 */
	--vim-light-blue: #5fd7ff; /* 81 */
	--vim-light-blue-bg: var(--vim-light-blue);
	--vim-light-green: #87ffaf; /* 121 */
	--vim-light-cyan: #afffff; /* 159 */
	--vim-light-cyan-bg: var(--vim-light-cyan);
	--vim-light-red: #ffd7d7; /* 224 */
	--vim-light-red-bg: var(--vim-light-red);
	--vim-light-magenta: #ffd7ff; /* 225 */
}
.vim {
	--vim-black: var(--palette0);
	--vim-black-bold: var(--palette0-bold);
	--vim-dark-blue: var(--palette4);
	--vim-dark-green: var(--palette2);
	--vim-dark-cyan: var(--palette6);
	--vim-dark-red: var(--palette1);
	--vim-dark-magenta: var(--palette5);
	--vim-brown: var(--palette3);
	--vim-grey: var(--palette7);
	--vim-light-grey: var(--palette7);
	--vim-blue: var(--palette12);
	--vim-cyan: var(--palette14);
	--vim-red: var(--palette9);
	--vim-magenta: var(--palette13);
	--vim-yellow: var(--palette11);
	--vim-white: var(--palette15);

	--vim-light-blue: var(--vim-blue); --vim-light-blue-weight: var(--vim-blue-weight); --vim-light-blue-bg: var(--vim-blue-bg);
	--vim-light-cyan: var(--vim-cyan); --vim-light-cyan-weight: var(--vim-cyan-weight); --vim-light-cyan-bg: var(--vim-cyan-bg);
	--vim-light-red: var(--vim-red); --vim-light-red-weight: var(--vim-red-weight); --vim-light-red-bg: var(--vim-red-bg);

	--vim-dark-grey-bg: var(--vim-dark-grey);
	--vim-blue-bg: var(--vim-blue);
	--vim-light-green-bg: var(--vim-light-green);
	--vim-cyan-bg: var(--vim-cyan);
	--vim-red-bg: var(--vim-red);
	--vim-magenta-bg: var(--vim-magenta);
	--vim-light-magenta-bg: var(--vim-light-magenta);
	--vim-yellow-bg: var(--vim-yellow);
	--vim-white-bg: var(--vim-white);
}

/* common for light and dark mode */
.vim .error_msg { font-weight: var(--vim-white-weight); color: var(--vim-white); background: var(--vim-dark-red); }
.vim .inc_search { color: var(--palette-background); background: var(--palette-foreground); }
.vim .mode_msg { font-weight: var(--bold-weight); color: var(--palette-foreground-bold); }
.vim .non_text { font-weight: var(--vim-blue-weight); color: var(--vim-blue); }
.vim .status_line { font-weight: var(--bold-weight); color: var(--palette-background); background: var(--palette-foreground); }
.vim .status_line_nc { color: var(--palette-background); background: var(--palette-foreground); }
.vim .vert_split { color: var(--palette-background); background: var(--palette-foreground); }
.vim .diff_text { font-weight: var(--bold-weight); color: var(--palette-foreground-bold); background: var(--vim-red-bg); }
.vim .pmenu_sbar { background: var(--vim-grey); }
.vim .tab_line_sel { font-weight: var(--bold-weight); color: var(--palette-foreground-bold); }
.vim .tab_line_fill { color: var(--palette-background); background: var(--palette-foreground); }

/* light mode */
.vim.vim-light .directory { color: var(--vim-dark-blue); }
.vim.vim-light .line_nr { color: var(--vim-brown); }
.vim.vim-light .cursor_line_nr { text-decoration: var(--underline-decoration); color: var(--vim-brown); }
.vim.vim-light .more_msg { color: var(--vim-dark-green); }
.vim.vim-light .question { color: var(--vim-dark-green); }
.vim.vim-light .search { background: var(--vim-yellow-bg); }
.vim.vim-light .spell_bad { background: var(--vim-light-red-bg); }
.vim.vim-light .spell_cap { background: var(--vim-light-blue-bg); }
.vim.vim-light .spell_rare { background: var(--vim-light-magenta-bg); }
.vim.vim-light .spell_local { background: var(--vim-cyan-bg); }
.vim.vim-light .pmenu_thumb { background: var(--vim-black); }
.vim.vim-light .pmenu { color: var(--vim-black); background: var(--vim-light-magenta-bg); }
.vim.vim-light .pmenu_sel { color: var(--vim-black); background: var(--vim-light-grey); }
.vim.vim-light .special_key { color: var(--vim-dark-blue); }
.vim.vim-light .title { color: var(--vim-dark-magenta); }
.vim.vim-light .warning_msg { color: var(--vim-dark-red); }
.vim.vim-light .wild_menu { color: var(--vim-black); background: var(--vim-yellow-bg); }
.vim.vim-light .folded { color: var(--vim-dark-blue); background: var(--vim-grey); }
.vim.vim-light .fold_column { color: var(--vim-dark-blue); background: var(--vim-grey); }
.vim.vim-light .visual { background: var(--vim-light-grey); }
.vim.vim-light.vim-8 .visual { color: var(--palette-background); background: var(--palette-foreground); }
.vim.vim-light .diff_add { background: var(--vim-light-blue-bg); }
.vim.vim-light .diff_change { background: var(--vim-light-magenta-bg); }
.vim.vim-light .diff_delete { font-weight: var(--vim-blue-weight); color: var(--vim-blue); background: var(--vim-light-cyan-bg); }
.vim.vim-light .tab_line { text-decoration: var(--underline-decoration); color: var(--vim-black); background: var(--vim-light-grey); }
.vim.vim-light .cursor_column { background: var(--vim-light-grey); }
.vim.vim-light .cursor_line { text-decoration: var(--underline-decoration); }
.vim.vim-light .color_column { background: var(--vim-light-red); }
.vim.vim-light .conceal { color: var(--vim-light-grey); background: var(--vim-dark-grey-bg); }
.vim.vim-light .match_paren { background: var(--vim-cyan-bg); }
.vim.vim-light .status_line_term { font-weight: var(--bold-weight); color: var(--vim-white); background: var(--vim-dark-green); }
.vim.vim-light .status_line_term_nc { font-weight: var(--vim-white-weight); color: var(--vim-white); background: var(--vim-dark-green); }

/* dark mode */
.vim.vim-dark .directory { font-weight: var(--vim-light-cyan-weight); color: var(--vim-light-cyan); }
.vim.vim-dark .line_nr { font-weight: var(--vim-yellow-weight); color: var(--vim-yellow); }
.vim.vim-dark .cursor_line_nr { text-decoration: var(--underline-decoration); font-weight: var(--vim-yellow-weight); color: var(--vim-yellow); }
.vim.vim-dark .more_msg { font-weight: var(--vim-light-green-weight); color: var(--vim-light-green); }
.vim.vim-dark .question { font-weight: var(--vim-light-green-weight); color: var(--vim-light-green); }
.vim.vim-dark .search { color: var(--vim-black); background: var(--vim-yellow-bg); }
.vim.vim-dark .special_key { font-weight: var(--vim-light-blue-weight); color: var(--vim-light-blue); }
.vim.vim-dark .spell_bad { background: var(--vim-red-bg); }
.vim.vim-dark .spell_cap { background: var(--vim-blue-bg); }
.vim.vim-dark .spell_rare { background: var(--vim-magenta-bg); }
.vim.vim-dark .spell_local { background: var(--vim-cyan-bg); }
.vim.vim-dark .pmenu_thumb { background: var(--vim-white-bg); }
.vim.vim-dark .pmenu { color: var(--vim-black); background: var(--vim-magenta-bg); }
.vim.vim-dark .pmenu_sel { font-weight: var(--vim-dark-grey-weight); color: var(--vim-dark-grey); background: var(--vim-black); }
.vim.vim-dark .title { font-weight: var(--vim-light-magenta-weight); color: var(--vim-light-magenta); }
.vim.vim-dark .warning_msg { font-weight: var(--vim-light-red-weight); color: var(--vim-light-red); }
.vim.vim-dark .wild_menu { color: var(--vim-black); background: var(--vim-yellow-bg); }
.vim.vim-dark .folded { font-weight: var(--vim-cyan-weight); color: var(--vim-cyan); background: var(--vim-dark-grey-bg); }
.vim.vim-dark .fold_column { font-weight: var(--vim-cyan-weight); color: var(--vim-cyan); background: var(--vim-dark-grey-bg); }
.vim.vim-dark .visual { background: var(--vim-dark-grey-bg); }
.vim.vim-dark.vim-8 .visual { color: var(--palette-background); background: var(--palette-foreground); }
.vim.vim-dark .diff_add { background: var(--vim-dark-blue); }
.vim.vim-dark .diff_change { background: var(--vim-dark-magenta); }
.vim.vim-dark .diff_delete { font-weight: var(--vim-blue-weight); color: var(--vim-blue); background: var(--vim-dark-cyan); }
.vim.vim-dark .tab_line { text-decoration: var(--underline-decoration); font-weight: var(--vim-white-weight); color: var(--vim-white); background: var(--vim-dark-grey-bg); }
.vim.vim-dark .cursor_column { background: var(--vim-dark-grey-bg); }
.vim.vim-dark .cursor_line { text-decoration: var(--underline-decoration); }
.vim.vim-dark .color_column { background: var(--vim-dark-red); }
.vim.vim-dark .match_paren { background: var(--vim-dark-cyan); }
.vim.vim-dark .conceal { color: var(--vim-light-grey); background: var(--vim-dark-grey-bg); }
.vim.vim-dark .status_line_term { font-weight: var(--bold-weight); color: var(--vim-black-bold); background: var(--vim-light-green-bg); }
.vim.vim-dark .status_line_term_nc { color: var(--vim-black); background: var(--vim-light-green-bg); }

/* syntax highlighting */
.vim.vim-dark .comment { color: var(--vim-cyan); font-weight: var(--vim-cyan-weight); }
.vim.vim-dark .constant { color: var(--vim-magenta); font-weight: var(--vim-magenta-weight); }
.vim.vim-dark .special { color: var(--vim-light-red); font-weight: var(--vim-light-red-weight); }
.vim.vim-dark .identifier { color: var(--vim-cyan); font-weight: var(--bold-weight); }
.vim.vim-dark .statement { color: var(--vim-yellow); font-weight: var(--vim-yellow-weight); }
.vim.vim-dark .pre_proc { color: var(--vim-light-blue); font-weight: var(--vim-light-blue-weight); }
.vim.vim-dark .type { color: var(--vim-light-green); font-weight: var(--vim-light-green-weight); }
.vim.vim-dark .underlined { text-decoration: var(--underline-decoration); color: var(--vim-light-blue); font-weight: var(--vim-light-blue-weight); }
.vim.vim-dark .ignore { color: var(--vim-black); }
.vim.vim-light .comment { color: var(--vim-dark-blue); }
.vim.vim-light .constant { color: var(--vim-dark-red); }
.vim.vim-light .special { color: var(--vim-dark-magenta); }
.vim.vim-light .identifier { color: var(--vim-dark-cyan); }
.vim.vim-light .statement { color: var(--vim-brown); }
.vim.vim-light .pre_proc { color: var(--vim-dark-magenta); }
.vim.vim-light .type { color: var(--vim-dark-green); }
.vim.vim-light .underlined { text-decoration: var(--underline-decoration); color: var(--vim-dark-magenta); }
.vim.vim-light .ignore { color: var(--vim-white); font-weight: var(--vim-white-weight); }
.vim .error { color: var(--vim-white); font-weight: var(--vim-white-weight); background: var(--vim-red-bg); }
.vim .todo { color: var(--vim-black); background: var(--vim-yellow-bg); }
